.loginSignUp {
  display: grid;
  min-height: 100vh;
  background-color: rgb(19, 19, 19);
  font-family: 'Inter', sans-serif;

  .formSection {
    display: grid;
    justify-content: center;
    background-color: #f9f9f9;
    max-width: 958px;
    height: 100%;
    max-height: 630px;
    border-radius: 5px;
    overflow: hidden;
    &--image {
      z-index: 0;
      position: absolute;
      overflow: hidden;
      img {
        height: auto;
        width: 100vw;
      }
    }
    &--form {
      width: 100vw;
      height: fit-content;
      max-width: 500px;
      z-index: 1;
      margin-top: 6rem;
      padding: 6.438rem 5.688rem;
      background-color: #f9f9f9;
      form {
        display: grid;
        gap: 1rem;
        margin-top: 2rem;
      }
      h1 {
        color: #F28003;
        font-size: 40px;
      }
      span {
        display: block;
        font-weight: 400;
      }
      .input-group {
        input {
          padding: 8px;
          width: 100%;
        }
      }
      .input-rememberMe {
        display: flex;
        align-items: center;
        label {
          margin-left: 1rem;
        }
        input {
          height: 1rem;
          width: 1rem;
        }
      }
      .button-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        button {
          font-family: "Inter", sans-serif;
          font-size: 1rem;
          font-weight: 700;
          color: #252323;
          padding: 8px 16px;
          border-radius: 2px;
          background-color: #F28003;
          border: none;
          box-shadow: 0px 0px 0px #161616;
          transition: box-shadow .1s linear;
        }
        button:disabled {
          background-color: #f7bd7f;
        }
        button:enabled:hover {
          box-shadow: 3px 3px 1px #161616;
        }

      }
    }
  }
}

@media (min-width:800px) {
  .formSection {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;

    .formSection--image {
      position: relative;
      overflow: hidden;
      height: 100%;
      img {
        width: 100%;
      }
    }
    .formSection--form {
      width: auto;
      .button-container{
        flex-direction: row;
      }
    }
  }
}
