<section aria-label="login">
  <div>
    <h1>
      <span>Hello,</span>
      welcome!
    </h1>
    <form>
      <div>
        <span></span>
        <input type="email">
      </div>
      <div>
        <span></span>
        <input type="password">
      </div>
      <div>
        <input type="checkbox" name="remember me" id="">
        <p>Forget password</p>
      </div>
      <div>
        <button>Login</button>
        <button type="button">Sign up</button>
      </div>
    </form>
  </div>

</section>


